use flake

if [ -f "$HOME/.config/age/key.txt" ]; then
  export SOPS_AGE_KEY_FILE="$HOME/.config/age/key.txt"
else
  echo "⚠️  Warning: Age private key not found at $HOME/.config/age/key.txt"
  echo "    Direnv will not be able to decrypt secrets."
fi

(
  shopt -s dotglob
  shopt -s globstar

  for enc_path in ./kustomize/overlays/**/*.enc; do
    [ -e "$enc_path" ] || continue

    dec_path="${enc_path%.*}"

    if [ ! -f "$dec_path" ] || [ "$enc_path" -nt "$dec_path" ]; then
      echo "🔐 Decrypting $enc_path → $dec_path"
      sops decrypt --output "$dec_path" "$enc_path"
    else
      echo "✅ Using cached $dec_path"
    fi
  done
)
